# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
*.secret.yaml

# env file
.env
Flow

cdp-pipeline-workflow.md
flow-consumer*.md
flow-processor*.md
flow-source*.md
flow-soroswap*.md
stellar-xdr-json.md
flow.md
flow_upgraded_implementation_plan.md
flow-engine.md

bin/flow
bin/graphql-api
bin/schema-registry
bin/query_accounts
*.db
*.db-wal
*.db-shm

# Nix
result
result-*
.direnv/
.envrc
